@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;1,100;1,300&display=swap");

* {
  border: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
}


$green:#219150;
$black:#10221b;
$white:#fff;
$light-bg: #eee;
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

 @mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap:1.5rem;
}
 
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  
}

section{
  padding:5rem 9%;
}

.btn{
  margin-top: 1rem;
  display: inline-block;
  border: $border;
  color: $black;
  cursor: pointer;
  background: none;
  font-size: 1.7rem;
  padding: 1rem 3rem;

  &:hover{
    background: $black;
    color: $white;
  }
}

.heading{
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 4rem;
  color: $black;
}

.header {
  align-items: center;
  display: flex;
  left: 0;
  padding: 2rem 6%;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  
  &.active{
    background: $white;
    box-shadow: $box-shadow;
  }
  .logo {
    color: $black;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-right: auto;
  }

  i {
    color: $green;
  }

  .navbar {
    a {
      color: $black;
      font-size: 1.7rem;
      margin-left: 2rem;
      font-weight: bolder;

      &:hover {
        color: $green;
      }
    }

    #nav-close {
      color: $black;
      cursor: pointer;
      display: none;
      font-size: 5rem;
    }
  }

  .icons a,
  .icons div {
    color: $black;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: bolder;
    margin-left: 2rem;

    &:hover {
      color: $green;
    }
  }

  #menu-btn {
    display: none;
  }
}

.swiper-button-next{
  position:absolute;
    z-index:1;
    top:50%;
    left:96%;
    width:60px;               /* largura para o botão */
    height:30px;              /* altura para o botão */
    padding:0;
    margin:-15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
}

.swiper-button-prev{
  position:absolute;
    z-index:1;
    top:50%;
    left:4%;
    width:30px;               /* largura para o botão */
    height:20px;              /* altura para o botão */
    padding:0;
    margin:-15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    border:0 none;
}

.category{
  background: $light-bg;

  .box-container{
    @include grid(25rem);
    
    .box{
      text-align: center;
      padding:2rem;

      img{
        height: 20rem;
        width: 20rem;
        border-radius: 50%;
        margin-bottom: 1rem;      
      }
      h3{
        font-size: 2rem;
        color:$green;
      }
      p{
        font-size: 1.5rem;
        color: $black;
        padding: 1rem 0;
        line-height: 2;
      }
    }
  }
}

.custom-bullet-black.swiper-pagination-bullet-active-prev-prev,
.custom-bullet-black.swiper-pagination-bullet-active-prev,
.custom-bullet-black.swiper-pagination-bullet-active-next,
.custom-bullet-black.swiper-pagination-bullet-active-next-next {
  border-radius: 50%;
  width: 12px;
  min-width: 12px;
  height: 12px;
  margin-right: 15px;
  border: 1px solid #102721;
  left: 15px;
}

.custom-bullet-black.swiper-pagination-bullet-active.swiper-pagination-bullet-active-main {
  border-radius: 50%;
  width: 12px;
  min-width: 12px;
  height: 12px;
  margin-right: 15px;
  border: 1px solid #102721;
  background: #102721;
}

.custom-bullet-black {
  transition: left 0.5s;
  cursor: pointer;
}

.swiper-pagination-custombullets {
  left: 50%;
  bottom: 20px;
  height: 10px;
  display: flex;
  justify-content: start;
  width: fit-content !important;
  transform: translateX(-50%) !important;

}

.search-form {
  align-items: center;
  background: rgba(0, 0, 0, .8);
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  transform: translateY(-110%);

  &.active{
    transform: translateY(0%);
  }

  #close-search{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    cursor: pointer;
    color: white;
    font-size: 6rem;

    &:hover{
      color: $green;
    }
  }
  form{
    width: 70vw;
    margin: 0 2rem;
    padding-bottom: 2rem;
    border-bottom: .2rem solid $white;
    display: flex;
    align-items: center;

    input{
      width: 100%;
      font-size: 2rem;
      color:$white;
      text-transform: none;
      background: none;
      padding-right: 2rem;

      &::placeholder{
        color: #aaa;
      }
    }

    label{
      font-size: 3rem;
      cursor: pointer;
      color: $white;

      &:hover{
        color:$green;
      }
    }
  }
}

.home{
  padding: 0;
  
  .box{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover !important;
    background-position: center !important;
    justify-content: flex-end;
    padding: 2rem 9%;
      
    &.one{
      background: url("images/home-bg-1.jpg") no-repeat;
    }
    &.second{
      background: url("images/home-bg-2.jpg") no-repeat;
      justify-content: flex-start;      
    }
    &.third{
      background: url("images/home-bg-3.jpg") no-repeat;
      
    }

    .content{
      width: 50rem;
      
      span{
        font-size: 4rem;
        color: $black;
      }
      h3{
        font-size: 6rem;
        color: $green;
        padding-top: .5rem;
        text-transform: uppercase;
        z-index: 10;

      }
      p{
        line-height: 2;
        color: $black;
        font-size: 1.5rem;
        padding-top: 1rem 0;
      }
    }
  }
}

.packages{
  background: $light-bg;

  .box-container{
    @include grid(28rem);
    .box{
      text-align: center;
      background: $white;
      border: $border;
      box-shadow: $box-shadow;
      border-radius: .5rem;

      &:hover{
        background: $black;

        .content > *{
          color: $white;
        }

        .btn{
          border-color: $white;

          &:hover{
            background: $white;
            color:$black;
          }

        }
      }

    .image{
     height: 25rem;
     overflow: hidden;
     padding: 2rem;
     padding-bottom: 0;
     border-radius: .5rem;

     img{
       height: 100%;
       width: 100%;
       object-fit: scale-down;
       border-radius: .5rem;
     }

    }
    .content{
      padding: 2rem;

      h3{
        font-size: 2rem;
        color: $black;
      }

      p{
        font-size: 1.5rem;
        color: $black;
        padding: 1rem 0;
        line-height: 2;
      }

      .price{
        font-size: 2rem;
        color: $green;
      }
    }
    }
  }
}

.services {
  background: $light-bg;

  .box-container{
    @include grid(30rem);

    .box{
      text-align: center;
      padding: 2rem;
      border: $border;
      border-radius: .5rem;
      box-shadow: $box-shadow;
      background: $white;

      &:hover {
        background: $black;

        img{
          filter: invert(1);
        }
        p{
          color: $white;
        }
        .btn{
          border-color: $white;
          color: $white;
          &:hover{
            background: $white;
            color:$black;
          }
        }
      }

      img{
        height: 10rem;
        margin-bottom: 1rem;
        
      }
      h3{
        font-size: 2rem;
        color: $green;
      }
      p{
        font-size: 1.5rem;
        color: $black;
        padding: 1rem 0;
        line-height: 2rem;
      }
    }
  }
}

.package-container{
  background: $light-bg;
  margin-top: 6rem;
   @include grid(65rem);

  justify-content: center;
  text-align: center;

   .image-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    height: 40rem;
    justify-items: center;
   } 
 
  .image{   
    min-height: 20rem;
    height: 40rem;
    margin: 4rem 2rem 2rem 2rem;
    border-radius: 4rem;   
  }
  .package-content{
    margin: 2rem 8rem;
    padding: 1rem;

    h1,h3{
      font-size: 2rem;
      color: $green;
    }
    p{
      font-size: 1.5rem;
      color: $black;
      padding: 1rem 0;
      line-height: 2rem;
      text-transform: none;
      text-align: justify;
    }    
  }
  
}

.categorie-container{
  background: $light-bg;
  margin-top: 6rem;
  @include grid(65rem);

  justify-content: center;
  text-align: center;

  .image-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    height: 40rem;
    justify-items: center;
   }

  .image{
    min-height: 20rem;
    height: 40rem;
    margin: 4rem 2rem 2rem 2rem;
    border-radius: 4rem;   
  }
  .categorie-content{
    margin: 2rem 8rem;
    padding: 1rem;

    h1{
      font-size: 2rem;
      color: $green;
    }
    h3{
      font-size: 1.6rem;
      color: $green;
    }
    p{
      font-size: 1.5rem;
      color: $black;
      padding: 1rem 0;
      line-height: 2rem;
      text-transform: none;
      text-align: justify;
    }
    ul{
      margin-left: 1.5rem;
    }
    li {
      font-size: 1.3rem;
      list-style-type: circle;
    }    
  }
  
}

.footer{
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(./images/footer-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .box-container{
    @include grid(30rem);

    .box{

      h3{
        font-size: 2rem;
        padding: 1.5rem 0;
        color: $white;
      }

      a{
        display: block;
        font-size: 1.4rem;
        color: $white;
        padding: 1rem 0;
      }

      i{
        color: $green;
        padding-right: .5rem;
      }
      &:hover{
        color: $green;

        i{
          padding-right: 2rem;
        }
      }
    }

    .credit{
      text-align: center;
      padding: 1.5rem 0;
      font-size: 2rem;
      color: $white;
      span{
        color: $green;
      }
    }


  }
}




@media (max-width:1200px) {
  .header {
    padding: 2rem;
  }

  section{
    padding:3rem 2rem;
  }
}

@media(max-width:991px) {
  html {
    font-size: 55%;
  }
  .home .one{
    justify-content: center;
    background-position: right !important;

    &.second{
      justify-content: center;
      background-position: left !important;
    }

    &.third{
      justify-content: center;
    background-position: right !important;
    }

    .content{
      text-align: center;

      span{
        font-size: 3rem;
      }
      h3{
        font-size: 4rem;
      }
    }
  }

  .swiper-button-next{
    display: none;
  }
  .swiper-button-prev{
    display: none;
  }
}

@media (max-width:768px) {
  .header {
    #menu-btn {
      display: inline-block;
    }

    .navbar {
      align-items: center;
      background: $white;
      display: flex;
      flex-flow: column;
      height: 100%;
      justify-content: center;
      left: -110%;
      position: fixed;
      top: 0;
      z-index: 10000;
      width: 35rem;

      &.active {
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
        left: 0;
      }

      a {
        margin: 1rem 0;
        font-size: 3rem;
      }

      #nav-close {
        display: block;
        flex-flow: co;
        position: absolute;
        right: 2rem;
        top: 1rem;

      }

    }

    .icons {
      display: flex;
      flex-flow: row;
    }

    .categorie-container{
      display: flex;
      @include grid(10rem);
      font-size: 2rem
    }

    .package-container{
      @include grid(30rem);

      .package-content{
        margin: 0;
        padding: 0;
      }
    }
  }
}

@media (max-width:450px) {
  html {
    font-size: 50%;
  }

  .package-container{
    @include grid(30rem);

    .package-content{
      margin: 2rem;
      padding: 2rem;
    }
  }
  .footer{
    h3{
      font-size: 6rem;
    }
    a{
      font-size: 2rem;
    }
    
  }
}